evenements.DTD


<!ELEMENT evenements (mois_annee+)>
<!ATTLIST mois_annee mois CDATA #REQUIRED>
<!ELEMENT mois_annee (detail,evenement+)>
<!ELEMENT detail (#PCDATA)>
<!ELEMENT evenement (icon,type,titre,date)>
<!ATTLIST evenement jour CDATA #REQUIRED>
<!ELEMENT icon (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT titre (#PCDATA)>
<!ELEMENT date (#PCDATA)>