evenements_club.DTD


<!ELEMENT evenements (organisateur+)>
<!ELEMENT organisateur (detail, evenement+)>
<!ATTLIST organisateur club CDATA #REQUIRED>
<!ELEMENT detail (#PCDATA)>
<!ELEMENT evenement (icon,type,titre,date)>
<!ELEMENT icon (#PCDATA)>
<!ELEMENT type (#PCDATA)>
<!ELEMENT titre (#PCDATA)>
<!ELEMENT date (#PCDATA)>